@keyframes bouncey {
	0% {
		transform: (translateY(0));
	}
	50% {
		transform: (translateY(4px));
	}
	100% {
		transform: (translateY(0));
	}
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(-100px);
	}
}
